#!/usr/bin/make -f
export CC=clang
export CXX=clang++

override_dh_auto_configure:
	dh_auto_configure -- \
	    -DBUILD_PYTHON=OFF \
	    -DBUILD_KMOD=OFF \
	    -DBUILD_LIBUSB=ON \
	    -DBUILD_RPCTOOL=ON

%:
	dh $@ --buildsystem=cmake
